header{
	margin-left: 30px;
	max-width: 950px;
	border: solid 1px #333;
	padding: 0;
	height: 150px;
	margin-top: 20px;
}
nav a{
	color: #fff;
}
nav{
	background: #026698;
	max-width: 950px;
	margin-left: 30px;
	margin-top: 10px;
	height: 50px;
}
h1{
	border-radius: 5px;
	background: #026698;
	height: 40px;
	margin-right: 10px;
	width: 400px;
	color: #fff;
	margin-top: 30px;
	padding: 15px;
	text-decoration: none;
	float: right;
	text-align: center;
	margin-left: 10px;
}
h2{
	margin-top: 20px;
	text-align: center;
}

h3{
	margin-top: 10px;
	margin-left: 10px;
}

section{
	margin-top: 30px;
	max-width: 950px;
	margin-right: 20px;
	margin-left: 20px;
}
footer{
	background: #000;
	max-width: 950px;
	margin-left: 30px;
	margin-top: 10px;
	height: 350px;
}
#logoUNAD{
	margin-top: 15px;
	width: 315px;
}
#central{
	margin-left: 30px;
	max-width: 950px;
	height: 500px;	
	border: solid 1px #333;
	padding: 0;
	margin-top: 20px;
}
#Presentacion{
	float: left;
	margin-left: 50px;
	color: #fff;
	margin-top: 10px;	
}
#Lectura{
	float: left;
	margin-left: 50px;
	color: #fff;
	margin-top: 10px;	
}	
#Multimedia{
	float: left;
	margin-left: 50px;
	color: #fff;
	margin-top: 10px;	
}
#Autores{
	float: left;
	margin-left: 50px;
	color: #fff;
	margin-top: 10px;	
}
#logoUNAD{
	border: 0;
	margin-top: 30px;
	margin-left: 10px;
}
#LOGOS{
	margin-top: 10px;
	margin-left: 200px;
	max-height: 10px;
	max-width: 600px;
}
#cont1{
	border-radius: 5px;
	background: #000;
	height: 30px;
	width: 250px;
	margin-right: 10px;
	margin-left: 5px;
	color: #fff;
	margin-top: 30px;
	padding: 15px;
	text-decoration: none;
	float: right;
	text-align: left;
	font-size: 10px;
}
#cont2{
	border-radius: 5px;
	background: #000;
	height: 30px;
	width: 250px;
	margin-right: 10px;
	margin-left: 5px;
	color: #fff;
	margin-top: 30px;
	padding: 15px;
	text-decoration: none;
	float: right;
	text-align: left;
	font-size: 10px;
}
#logoUNAD2{
	border: 0;
	margin-left: 10px;
	padding-top: 10px;
} 
#calidad{
	float: left;
}
#calidad1000{
	float: left;
	margin-left: 0;
}
#contacto{
	color: #333;
	max-width: 600px;
	max-height: 100px;
	top: 30px;
	margin-left: 250px;
}
#actulizado{
	color: #333;
	max-width: 800px;
	max-height: 100px;
	padding-top: 10px;
	margin-left: 40px;	
}
#actua{
	border-radius: 5px;
	background: ##000;
	height: 40px;
	margin-right: 10px;
	width: 600px;
	color: #fff;
	margin-top: 10px;
	padding: 15px;
	text-decoration: none;
	float: right;
	text-align: center;
	margin-left: 10px;
	font-size: 10px;
}
#videos{
	max-width: 600px;
	max-height: 300px;
	margin-top: 20px;
	margin-left: 30px;
}
#adelante{
	margin-left: 800px;
	margin-top: 0px;
	position: absolute;
}
#atras{
	margin-left: 750px;
	margin-top: 0px;
	position: absolute;
}
#fotoperfil{
	max-width: 50px;
}
#uno{
	margin-top: 70px;
}
table{
	margin-top: 10px;
}
td{
	font-size: 12px;
}

aside{
	border: 0;
	margin-left: 5px;
	padding-top: 10px;
	max-width: 10px;
	max-height: 50px;
} 
h3{font-size: 18px;
	margin-top: 20px;
	margin-left: 30px;
	position: absolute;
}
h4{font-size: 14px;
	margin-top: 0px;
	margin-left: 260px;
	position: absolute;
}

=======
